.title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.4rem!important;
}

@media (min-width: 320px) and (max-width: 480px) {
    .title {
        font-size: 2.5rem!important;  
    }
  }