footer {
  border-top: 1px solid #ced4da;
}

.footer-link {
  color: #6c757d !important;
  transition: color 0.4s ease;
}

.footer-link:hover {
  color: #343a40 !important;
}

.cancel-border {
  border: none;
}

.flags {
  width: 1.875rem;
  transition: opacity 0.4s ease;
  opacity: 0.7;
  border: none;
}

.btn:hover > .flags {
  opacity: 1; 
}

.btn:focus > .flags {
  opacity: 1;
}

.border-start {
  border-left: 1.9px solid #ced4da!important;
  border-radius: 0;
}


