footer {
  border-top: 1px solid #ced4da;
}

.footer-link {
  color: #6c757d !important;
  transition: color 0.4s ease;
}

.footer-link:hover {
  color: #343a40 !important;
}

.globe-icon {
    vertical-align: middle;
}


