#features {
    padding: 5% 2%;
}

.feature-icon {
    color: #053273;
    transition: color .4s ease;
}

#feature1, #feature2, #feature3 {
    cursor: default;
}

#feature1:hover > .feature-icon, #feature1:hover > h4,
#feature2:hover > .feature-icon, #feature2:hover > h4,
#feature3:hover > .feature-icon, #feature3:hover > h4
 {
    color: #0d6efd;
}

.feature-sub {
    color: #053273;
    transition: color .4s ease;
    font-weight: 600;
}
