@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f8f9fa;
    /* background-color: white; */
    margin: 0;
    height: 100vh;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}

h3 {
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.cover-container {
    background: linear-gradient(rgba(255,255,255, 0),rgba(0, 0, 0, 0.2))!important;
    opacity: transparent;
    height: auto;
    overflow: visible;
    top: 0;
    left: 0;
}

.cover-container-white {
    background: linear-gradient(rgba(255,255,255, 0),rgba(199, 199, 199, 0.3))!important;
    opacity: transparent;
    height: auto;
    overflow: visible;
    top: 0;
    left: 0;
}

.scrolling-body {
    overflow-y: scroll;
    height: auto;
}

